* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 769px) {
  nav {
    padding: 1em;
    background-color: #f7f7f7;
  }

  .hero {
    padding: 2em 1em 3em 1em;
    background-color: #f7f7f7;
  }

  .par {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: justify;
  }

  .cancel div,
  nav .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #4f4f4f;
    padding: 2px 0;
    border: 1px solid #fff;
  }

  nav .hamburger:active .bar:nth-child(1) {
    opacity: 0;
  }

  nav .hamburger:active .bar:nth-child(2) {
    transform: translateY(3px) rotate(-45deg);
    transition: transform 0.1s ease-in-out;
    border: none;
  }

  nav .hamburger:active .bar:nth-child(3) {
    transform: translateY(-1px) rotate(46deg);
    transition: transform 0.1s ease-in-out;
    border: none;
  }

  .mobile__dropdown {
    position: absolute;
    right: 0;
    left: 0;
    background-color: #f7f7f7;
  }

  .mobile__dropdown ul {
    padding-top: 1em;
  }

  .mobile__dropdown ul li {
    list-style: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 0.1em 2em;
  }

  .mobile__dropdown ul li a {
    text-decoration: none;
    color: #4f4f4f;
  }

  .no__display {
    display: none;
  }

  .cancel .cancel__bar__1 {
    transform: translateY(3px) rotate(-45deg);
    border: none;
  }

  .cancel .cancel__bar__2 {
    transform: translateY(-1px) rotate(46deg);
    border: none;
  }

  .cancel {
    float: right;
    padding: 1em 0.5em 0 0;
  }

  .visibility {
    display: block;
  }

  .hero header {
    color: #ec5242;
  }

  .hero header h1 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
  }

  .hero .hero__desc .hero__desc__txt {
    border: 3px solid #fff;
    padding: 1em;
    color: #4f4f4f;
  }

  .event header h2 {
    padding: 1em 0 0.5em 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
  }

  .musicians header h2 {
    padding: 1em 0 0.5em 0;
  }

  .hero .hero__desc h2 {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    padding: 0.3em 0.1em;
    color: #4f4f4f;
  }

  .hero .hero__desc .location {
    padding: 0 0.1em;
  }

  .event {
    background-color: #242730;
    color: #fff;
    padding-bottom: 2em;
  }

  .musicians header,
  .event header {
    text-align: center;
  }

  .musicians__item__desc hr {
    width: 10%;
    height: 0.1em;
    border: none;
    background-color: #ec5242;
    margin: 0.5em 0;
  }

  .musicians header hr,
  .event header hr {
    width: 10%;
    margin: 0 auto;
    height: 0.1em;
    border: none;
    background-color: #ec5242;
  }

  .event .event__item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    margin: 1em;
    padding: 1em 0.5em;
    background-color: #4f4f4f;
  }

  .musicians__item p i {
    color: #ec5242;
    padding-top: 0.5em;
  }

  .event .event__item i {
    font-size: 100%;
    padding: 0 0.5em;
    border: 1px solid yellow;
  }

  .event .event__item h3 {
    color: #ec5242;
    padding: 0 0.3em 0 0.8em;
  }

  .event .event__button {
    text-align: center;
    padding: 1em 0;
  }

  .event .event__button button {
    padding: 2em;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    background-color: #ec5242;
    color: #fff;
    border: none;
  }

  .event .event__button button:hover {
    background-color: #fff;
    color: #ec5242;
  }

  .musicians {
    padding: 1em 0.9em;
  }

  .musicians__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-image: url('assets/images/image_dots.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: 40px;
    margin: 2em 0;
  }

  .musicians__item img {
    width: 120px;
    height: 120px;
    margin: 12px 0 0 12px;
  }

  .musicians__item p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
  }
}
