* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 769px) {
  nav {
    padding: 1em;
  }

  .cancel div,
  nav .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #272a31;
    padding: 2px 0;
    border: 1px solid #fff;
  }

  nav .hamburger:active .bar:nth-child(1) {
    opacity: 0;
  }

  nav .hamburger:active .bar:nth-child(2) {
    transform: translateY(3px) rotate(-45deg);
    transition: transform 0.1s ease-in-out;
    border: none;
  }

  nav .hamburger:active .bar:nth-child(3) {
    transform: translateY(-1px) rotate(46deg);
    transition: transform 0.1s ease-in-out;
    border: none;
  }

  .mobile__dropdown ul {
    padding-top: 1em;
  }

  .mobile__dropdown ul li {
    list-style: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 0.1em 2em;
  }

  .mobile__dropdown ul li a {
    text-decoration: none;
    color: #272a31;
  }

  .no__display {
    display: none;
  }

  .cancel .cancel__bar__1 {
    transform: translateY(3px) rotate(-45deg);
    border: none;
  }

  .cancel .cancel__bar__2 {
    transform: translateY(-1px) rotate(46deg);
    border: none;
  }

  .cancel {
    float: right;
    padding: 1em 0.5em 0 0;
  }

  .visibility {
    display: block;
  }
}
